{% extends 'base.html' %}

{% block content %}
{% load static %}
<link href="{% static 'css/detail.css' %}" rel="stylesheet">
<style>
    .post-entry {
        margin: 20px 80px;
    }
    .mmm {
        margin-top: 100px;
    }
</style>
<div class="post-entry">
    <h2>Title - >  {{ post.title }}</h2>
    <p>Author - > {{ post.author }}</p>
    <p>{{ post.body }}</p>
    <h1 class="mmm"><a href="{% url 'home' %}">back</a></h1>
</div>

<a href="{% url 'post_edit' post.pk %}">POST EDIT.</a>
{% endblock content %}